/*!
 * cfh
 */

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: black;
}

.fa-margin {
  margin-left: 100px;
}

.text1 {
  border-right: 1px solid #d7d7d7;
  border-width: 3px;
}

.text2 {
  border-right: 1px solid #d7d7d7;
  border-width: 3px;
}

.text3 {
  border-right: 1px solid #d7d7d7;
  border-width: 3px;
}

.image-static {
  display: block;
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

.btn-reg {
  background-color: pink;
  color: #000000;
  border: 1px;
  border-color: pink;
  border-radius: 70px;
}

.btn-info {
  color: #fff;
  background-color: darkcyan;
  border-color: darkcyan;
}

.btn-info3 {
  color: #fff;
  background-color: cadetblue;
  border-color: cadetblue;
  border-radius: 22.5px;
}

/*.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #813772;
  border-color: #813772;
}

.btn-info:hover {
  color: #fff;
  background-color: #813772;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}*/

.btn-info2 {
  color: #fff;
  background-color: lightgoldenrodyellow;
  border-color: lightgoldenrodyellow;
}
.btn-info4 {
  color: #fff;
  background-color:darkviolet;
  border-color: darkviolet;
}
.btn-info5 {
  color: #fff;
  background-color:darkmagenta;
  border-color:darkmagenta;
}
.btn-info2:focus,
.btn-info2.focus {
  color: #fff;
  background-color: #D9B310;
  border-color: #D9B310;
}

.btn-info2:hover {
  color: #fff;
  background-color: #D9B310;
  border-color: #D9B310;
}

.btn-info2:active,
.btn-info2.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #D9B310;
  border-color: #D9B310;
}

.btn-info3 {
  color: #000;
  background-color: #ffffff;
  border-color: #813772;
  border-radius: 10px;
  float: left;
}

.btn-info3:focus,
.btn-info3.focus {
  color: #000;
  background-color: #ffffff;
  border-color: #813772;
}

.btn-info3:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #269abc;
}

.btn-info3:active,
.btn-info3.active,
.open > .dropdown-toggle.btn-info {
  color: #000;
  background-color: #ffffff;
  border-color: #269abc;
}

.image-static2 {
  display: block;
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

.donation {
  width: 17%;
  height: 120px;
  float: right;
  margin-top: -50px;
  margin-right: -50px;
}

.adjust {
  padding: 10px;
  padding-bottom: -5px;
  margin-right: 5px;
  margin-top: -5px;
  margin-bottom: -2px;
}

.adjust2 {
  padding: 10px;
  padding-bottom: -5px;
  margin-right: 5px;
  margin-top: -5px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 991px) {
  .card-row {
    display: flex;
    width: 80%;
    margin-top: -130px !important;
  }
}

@media only screen and (max-width: 991px) {
  .card-row > .card-overlay {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .text1,
  .text2,
  .text3 {
    border: none;
  }
}

.card-row {
  margin: auto;
  color: #ffffff;
}

.card-row p {
  font-weight: 100px;
  font-size: 10px;
}

.card-row > .card-overlay {
  box-shadow: 5px 5px 3px 1px #3F3250;
  flex-grow: 1;
}

.card-row > .card-overlay > div {
  margin-bottom: 20px;
}

.card-container {
  margin-bottom: 140px;
}

.card-img {
  margin-left: 120px;
  padding-bottom: 20px;
  background: transparent;
  opacity: 50%;
  opacity: 16%;
  width: 450px;
  height: 250px;
  color: #ffffff;
  font-weight: 100px;
  font-size: 10px;
  box-shadow: 5px 5px 3px 1px #3F3250
}

.card-img2 {
  margin-top: -130px;
  margin-left: -10px;
  padding-bottom: 20px;
  background: transparent;
  opacity: 16%;
  width: 450px;
  height: 250px;
  color: #ffffff;
  font-weight: 100px;
  font-size: 10px;
  box-shadow: 5px 5px 3px 1px #3F3250
}

.separate {
  margin-bottom: 80px;
  padding-bottom: 180px;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 480;
}

a {
  color: #0085A1;
}

a:hover,
a:focus {
  color: #0085A1;
}

a img:hover,
a img:focus {
  cursor: zoom-in;
}

blockquote {
  color: #777777;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

/*.logoright {
	text-align: right !important;
}*/

/*.navbar-brand .navbar-right {
	background-color: lightslategrey;
	font-family: Helvetica;
	color: black
}

.col-md-10 .cfh-menu-container {
	background-color: lightslategrey;
	color: black;
	/*text-align: left !important*/
/*}*/

/*#navver {

}*/
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}

.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}

.intro-header .post-heading h1 {
  font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}

.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}

.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.intro-header .post-heading .meta a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.text-small{
	font-size: 12px;
}
