.draw-card-icon{
  background-image:url('../img/deck-card.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height: 200px;
  cursor: pointer;
 }

.text-center{
  text-align: center;
 }
