
button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}
button.social-signin.github {
    background: #16a085 ;
}



#main-body {
    margin-top: -120px;
    margin-bottom: 2%;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


#sign-in-box {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin:0 auto;
    padding:20px;
}

.or-wrap span {
    width: 40px;
    height: 40px;
    background: #888;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding:10px;

}

.or-wrap {
    padding-top:100px;
    padding-bottom:90px;
    margin:0 auto;
    text-align:center;

}

.sign-in-title{
    font-size: 19px;
    color: #222;
    text-align: center;
    font-weight: bold;
    margin-bottom:20px !important;
}

.social-signin {
    margin-bottom: 20px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.sign-in-left input {
    height:40px;
    margin-bottom:15px;
    text-align: center;
    width:100%;

}

.sign-in-left {
    text-align:center;
    margin:0 auto;
}

.sign-in-left input[type='submit']{
    width:100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background: #813772;
    color: white;
    line-height: 4px;

}

/* signup style */

#sign-up-box {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin:0 auto;
    padding:20px;
}


.sign-up-title{
    font-size: 19px;
    color: #222;
    text-align: center;
    font-weight: bold;
    margin-bottom:20px !important;
}

.sign-up-left input {
    height:40px;
    margin-bottom:15px;
    text-align: center;
    width:100%;

}

.sign-up-left {
    text-align:center;
    margin:0 auto;
}


.sign-up-left input[type='submit'] {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background: #813772;
    color: white;
    line-height: 4px;
}

.or-wrap-signup span {
    width: 40px;
    height: 40px;
    background: #888;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding:10px;

}

.or-wrap-signup {
    padding-top:140px;
    padding-bottom:90px;
    margin:0 auto;
    text-align:center;

}